/BPEL_Tarea4/nbproject/private/
/BpelModule1/nbproject/private/
/Prueba2/nbproject/private/
/Prueba3/nbproject/private/
/Tarea4/nbproject/private/
/BPEL_Tarea4/build/
/Tarea4/build/
/Tarea4/src/jbiServiceUnits/
/Tarea4/dist/
/CompositeApp1/nbproject/private/
/CompositeApp1/src/jbiServiceUnits/
/CompositeApp1/build/
/CompositeApp1/dist/
/Prueba/nbproject/private/
/Prueba/build/
/BpelModule1/build/
/APP_Tarea4/nbproject/private/
/APP_Tarea4/src/jbiServiceUnits/
/APP_Tarea4/build/
/APP_Tarea4/dist/
/BpelModule2/nbproject/private/
/BpelModule2/build/
/APP_Tarea4/test/results/
/CompositeApp1/test/results/
/CompositeApp2/nbproject/private/
/CompositeApp2/build/
/CompositeApp2/src/jbiServiceUnits/
/CompositeApp2/dist/
/Prueba1000/nbproject/private/
/Prueba1000/src/jbiServiceUnits/
/Prueba1000/build/
/Prueba1000/dist/
/Prueba1000/test/results/
/ServicioCliente/nbproject/private/
/ServicioCliente/build/
/BPEL_T4/nbproject/private/
/APP_T4/nbproject/private/
/APP_T4/src/jbiServiceUnits/
/BPEL_T4/build/
/APP_T4/build/
/APP_T4/dist/
/App_T4/nbproject/private/
/App_T4/src/jbiServiceUnits/
/App_T4/build/
/BpelModule3/nbproject/private/
/BpelModule3/build/
/CompositeApp2/test/results/
/ServicioPiloto/nbproject/private/
/ServicioRastreo/nbproject/private/
/ServicioPiloto/build/
/ServicioRastreo/build/
/App_T4/dist/
/App_T4/test/results/